.clima{
    min-height: 300px; /* Altura minima */
}

 .card {
        min-height: 150px !important;
        align-items: center !important;
    }

.transparencia{
    opacity: 0.5;
}

body{
    background-image: url(wppaero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.frutiger-cards{

}